@font-face {
	font-family: 'Droid Arabic Naskh';
	font-style: normal;
	font-weight: 400;
	font-display:swap;
	src: url(DroidNaskh-Regular.woff2) format('woff2');
}

html {
	margin: 0;
}

body,
input {
	font-family: 'Droid Arabic Naskh', monospace;
}

body {
	background: url("image/back.jpg") rgb(184, 153, 109);
	color: rgb(76, 40, 0);
	max-width: 850px;
	margin: auto;
	padding: .5rem;
}

header img {
	margin: 1rem;
	display: block;
	min-width: 180px;
	width: 15%;
}

header h1 {
	cursor: pointer;
	margin: 0;
	display: inline-block;
	font-weight: normal;
	font-size: 1.8rem;
}

header small {
	display:block
}

header small a {
	font-weight:bold;
	text-decoration:none;
}

a {
	color: rgb(76, 40, 0);
}

#main {
	border: 2px solid rgb(76, 40, 0);
	border-top: 0;
	border-radius: 0 0 1rem 1rem;
}

#main a {
	display: block;
	text-align: right;
	font-size: 1.1rem;
	padding: 1rem 1rem;
	text-decoration: none;
	word-wrap: break-word;
	border-bottom: 1px solid rgba(76, 40, 0, .3);
	display: flex;
}

#main a:hover {
	background: rgba(255, 255, 255, .1);
}

#main a i {
	padding-left: 1rem;
	font-style: normal;
	font-weight: bold;
}

#search input {
	margin-top: 1em;
	width: 100%;
	display: block;
	border: 0;
	outline: 0;
	padding: 1rem;
	font-size: inherit;
	box-sizing: border-box;
	background: none;
	border-radius: 0;
	color: inherit;
	border: .13rem solid rgb(76, 40, 0);
	border-radius: 1rem 1rem 0 0;
	appearance: none;
	-webkit-appearance: none;
}

#search input:focus {
	border-color: rgba(76, 40, 0, .5);
}

#header-back-a {
	text-decoration: none;
	font-size: 2.5em;
	margin: 0 0 1em 0;
	display: block;
}
::placeholder {
	color: inherit;
}
::selection {
	background: rgb(76, 40, 0);
	color: rgb(184, 153, 109);
}
footer a {
	text-decoration: none;
	font-weight: bold;
}
::-webkit-scrollbar {
	background: none;
	width: .7rem;
}
::-webkit-scrollbar-track {
	margin:.05rem 0;
}
::-webkit-scrollbar-thumb {
	background: rgb(76,40,0);
	border-radius: .5rem;
}
