@font-face {
	font-family: 'Droid Arabic Naskh';
	font-style: normal;
	font-weight: 400;
	font-display:swap;
	src: url(DroidNaskh-Regular.woff2) format('woff2');
}

html {
	margin: 0;
}

body,
input {
	font-family: 'Droid Arabic Naskh', monospace;
}

body {
	background: url("image/back.jpg") rgb(184, 153, 109);
	color: rgb(76, 40, 0);
	margin: .5em;
}

header img {
	margin: 1em 0 0;
	display: block;
	min-width:200px;
	width:17%
}

header h1 {
	cursor: pointer;
	margin: 0;
	display: inline-block;
	font-weight: normal;
	font-size:2em;
}

header small {
	display:block
}

header small a {
	font-weight:bold;
	text-decoration:none;
}

a {
	color: rgb(76, 40, 0);
}

#main {
	margin: 1em 0;
}

#main a {
	display: block;
	text-align: right;
	font-size: 1.1em;
	padding: .5em;
	text-decoration: none;
	word-wrap: break-word;
}

#main a:hover {
	font-weight:bold;
}

#search input {
	margin-top: 1em;
	width: 100%;
	display: block;
	border: 0;
	outline: 0;
	padding: 1em;
	font-size: 1em;
	box-sizing: border-box;
	background: none;
	border-radius: 0;
	color:inherit;
	border-bottom:2px solid rgb(76,40,0);
}

#header-back-a {
	text-decoration:none;
	font-size:2.5em;
	margin:0 0 1em 0;
	display:block;
}
::placeholder {
	color:inherit;
}
::selection {
	background:rgb(76,40,0);
	color:rgb(184, 153, 109);
}
footer a {
	text-decoration:none;
	font-weight:bold;
}
::-webkit-scrollbar {
	background:rgb(184, 153, 109);
}
::-webkit-scrollbar-thumb {
	background:rgb(76,40,0)
}
